// Color
$gradient-pink: hsl(293, 100%, 63%);
$gradient-violet: hsl(264, 100%, 61%);
$white: hsl(0, 0%, 100%);
$app-background-color: hsl(270, 20%, 96%);
$chat-on-left-color: hsl(276, 55%, 52%);
$chat-on-right-color: hsl(271, 15%, 43%);
$sub-heading-at-the-top-of-the-app-ui-color: hsl(276, 100%, 81%);
$left-chat-box-background-color: rgb(233, 225, 241);
$radio-button-outline-color: hsl(289, 100%, 72%);
$submit-button-background-color: hsl(271, 36%, 24%);
$placeholder-text-color: hsl(206, 6%, 79%);

.mobile-mockup {
  width: 248px;
  height: 505px;
  border: 10px solid white;
  background-color: $app-background-color;
  border-radius: 25px;

  display: grid;
  grid-template-rows: 66px 1fr;
  grid-template-columns: 100%;

  .chat-head,
  .chat-window,
  .left-side-chat-head,
  .user-info,
  .img-right-chat,
  .promotion-left-chat,
  .time-option,
  .text-input-section {
    display: flex;
    align-items: center;
  }

  .chat-head {
    width: 100%;
    height: 100%;
    // border-radius: 20px 20px 5px 5px;
    background-image: linear-gradient(
      to right,
      $gradient-violet 5%,
      $gradient-pink
    );
    justify-content: space-between;
    padding: 30px 15px 12px 15px;
    color: $app-background-color;
    border-radius: 20px 20px 5px 5px;

    .left-side-chat-head {
      padding-right: 8px;

      .left-arrow {
        stroke-width: 1px;
      }

      .user-info {
        img {
          width: fit-content;
          height: 24px;
          border: 1px solid $white;
          border-radius: 50%;
          margin-right: 8px;
        }

        .user-profile {
          .user-name {
            font-size: 0.7rem;
            font-weight: 700;
          }

          .user-status {
            font-size: 0.5rem;
            font-weight: 400;
            color: $sub-heading-at-the-top-of-the-app-ui-color;
          }
        }
      }
    }

    .right-side-chat-head {
      margin-bottom: 4px;
    }
  }

  .chat-window {
    width: 100%;
    height: 100%;
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;

    .chat-boxes {
      .text-left-chat,
      .text-right-chat,
      .time-option p {
        font-size: 0.5rem;
        font-weight: 500;
      }

      .text-left-chat,
      .text-right-chat {
        padding: 8px;
        width: fit-content;
        max-width: 128px;
        height: fit-content;
      }

      .text-left-chat,
      .text-right-chat,
      .promotion-left-chat {
        border-radius: 10px;
        margin-bottom: 8px;
      }

      .text-left-chat,
      .promotion-left-chat {
        float: left;
        border-bottom-left-radius: 4px;
      }

      .img-right-chat,
      .text-right-chat {
        float: right;
      }

      .text-left-chat {
        color: $chat-on-left-color;
        background-color: $left-chat-box-background-color;
      }

      // Left-text last child
      :nth-child(6) {
        margin-top: 8px;
      }

      .img-right-chat {
        width: 136px;
        justify-content: space-between;
        margin-top: 8px;
        margin-bottom: 8px;

        img {
          width: 40px;
          height: fit-content;
          border-radius: 10px;
        }
      }

      .text-right-chat {
        background-color: $white;
        color: $chat-on-right-color;
        border-bottom-right-radius: 4px;
      }

      .promotion-left-chat {
        width: 160px;
        height: fit-content;
        padding: 7px 17px 7px 7px;
        justify-content: space-between;

        background-image: linear-gradient(
          to right,
          $gradient-pink 10%,
          $gradient-violet 90%
        );

        .time-option {
          color: $radio-button-outline-color;

          .radio-button {
            size: 0.5rem;
            margin-right: 8px;
          }

          p {
            color: $app-background-color;
            margin-top: 2px;
          }
        }

        .promotion-price {
          color: $white;
          font-size: 1rem;
        }
      }
    }

    .text-input-section {
      width: 100%;
      height: 35px;
      border: none;
      border-radius: 40px;
      background-color: $white;
      padding: 5px;
      padding-left: 18px;
      justify-content: space-between;

      input {
        border: none;
        width: auto;
        height: 100%;
        font-size: 0.5rem;
      }

      input::placeholder {
        color: $placeholder-text-color;
      }

      .submit-button {
        width: fit-content;
        height: 100%;
      }
    }
  }
}

.mobile-mockup::before {
  content: "";
  width: 130px;
  height: 30px;
  background-color: $white;
  border-radius: 0 0 15px 15px;
  position: absolute;
  top: 65px;
  left: 120px;
}
